<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JZExample.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  
  <userSettings>
    <JZExample.Settings>
      <setting name="X30Ip" serializeAs="String">
        <value/>
      </setting>
      <setting name="QRField" serializeAs="String">
        <value/>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="DataBitss" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="ModelKey" serializeAs="String">
        <value>model</value>
      </setting>
      <setting name="DateProducedKey" serializeAs="String">
        <value>dop</value>
      </setting>
      <setting name="BatchNoKey" serializeAs="String">
        <value>bn</value>
      </setting>
      <setting name="ErrorCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="GongKongPortName" serializeAs="String">
        <value>COM2</value>
      </setting>
      <setting name="GongKongBaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="GongKongDataBits" serializeAs="String">
        <value>8</value>
      </setting>
    </JZExample.Settings>
  </userSettings>
</configuration>
